<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="f.index"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/index.jsp"></property>
	</bean>
	
	<bean id="r.index" class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/index.jsp"></property>
	</bean>
	
	<bean id="leaderboards.UnKnow" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/pages/leaderboards.jsp"></property>
	
	<bean id="r.employeeLogin.ok" class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/backend/index.jsp"></property>
	</bean>                         
	<bean id="f.employeeLogin.notOK"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/backEndlogin.jsp"></property>
	</bean>
	
	<bean id="f.musicContestCreate.notOk"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/backend/pages/charts.jsp"></property>
	</bean>

	<bean id="r.musicContestCreate.ok" class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/backend/index.jsp"></property>
	</bean>    

	<bean id="r.musicContestUpdate.ok" class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/backend/index.jsp"></property>
	</bean>
	
</beans>
