@charset "UTF-8";

/* leaderboards.jsp */
.title-title{
	box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4),12px 12px 24px rgba(20%,20%,40%,0.4);
	text-align: center;
	font-family:標楷體;
	font-size:56px;
	margin-top:70px;
	color:orange;
}

#leaderboard-outer{
	text-align:center;
	width:auto;	
}

#leaderboard-max1{
	float:left;
	width:auto;
	margin:80px;
}

.leaderboard-title1{
	font-family:標楷體;
	font-weight:bold;
	font-size:18px;
	color:blue;
}

.leaderboard-ol{
 	list-style-type: none; 
}

.leaderboard-ol li{
 	padding-top:10px;
 	padding-bottom:10px;
 	border-bottom:2px solid ; 	
}

.leaderboard-ol img{
	width:80px;
	height:80px;	
}

.ph4{
	font-family:標楷體;
	font-weight:bold;
/* 	font-size:18px; */
}

.ph5{
	font-family:標楷體;
	font-weight:bold;
/* 	font-size:18px; */
}
