@charset "UTF-8";

/* leaderboards-1.jsp */

.leaderboard-title{
	box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4),12px 12px 24px rgba(20%,20%,40%,0.4);
	text-align: center;
	font-family:標楷體;
	font-size:56px;
	margin-top:60px;
	color:orange;
}

#leaderboard-1-outer-left{
	float:left;
	margin-top:30px;
	width:30%;
}

#leaderboard-1-left-title{
	color:#8e8e8e;
	font-size:32px;
	font-weight:bold;
	font-family:標楷體;
}

#leaderboard-1-left-body{

}

.left-div a{
/* 	font-size:18px; */
	line-height:50px;
	font-weight:bold;
}
.left-div a:link {
/* 設定還沒瀏覽過的連結樣式 */
	text-decoration:none;
	color:#8e8e8e;
}
.left-div a:visited {
/* 設定已經瀏覽過的連結樣式 */
	color:#8e8e8e;
}
.left-div a:hover {
/* 設定滑鼠移到連結上的樣式 */
	color:red;
}

#leaderboard-1-outer-right{
	float:left;
	margin-top:20px;
	width:70%;
}

.leaderboards-1-tbody-2 img{
	width:60px;
	height:60px;
}

.leaderboard-1-table2{
	font-size:18px;
	text-align:center;
	font-weight:bold;
}

.td1{
	color:red;
	font-size:28px;
}

.td6{
	color:blue;
}