@charset "UTF-8";
@-ms-viewport {
    width: device-width;
    /* 根據目前裝置的畫面寬度來設定可視區域的寬 */
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}